<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="gradient-top"></div>
    <div class="gradient-bottom"></div>
    <br>
    <div style="text-align: center;">
        <img src="/img/logo.png" class="logo" alt="">
    </div>

    <video autoplay muted loop playsinline class="smoke-video">
        <source src="/img/smoke.webm" type="video/webm">
        Your browser does not support the video tag.
    </video>
    <video autoplay muted loop playsinline class="smoke-video">
        <source src="/img/smoke.webm" type="video/webm">
        Your browser does not support the video tag.
    </video>


    <br>
    <div class="grid">
        <div>
            <div style="text-align: center;">
                <video loop muted autoplay class="vid">
                    <source src="/img/vid.mp4"type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div>
            <div class="grid">
                <div style="text-align: center; margin-bottom: 24px">
                    <img src="/img/dent1.jpg" alt="" class="photo">
                </div>
                <div style="text-align: center;">
                    <img src="/img/dent2.jpg" alt="" class="photo">
                </div>
                <div style="text-align: center;">
                    <img src="/img/dent3.jpg" alt="" class="photo">
                </div>
                <div style="text-align: center;">
                    <img src="/img/dent4.jpg" alt="" class="photo">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

